.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px;
}

.product img{
    width: 200px;
}

.product{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    background-color: antiquewhite;
    height: 500px;
    width: 250px;
}

.product:hover{
    background-color: rosybrown;
}